doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
  body
    header 
      h1 Noom 
    main 
      h3#user-nickname
      #initialize-channel 
        form.nick-name_form
          input(type="text" placeholder="What is your nickname") 
          button Save Nickname


        form.enter-channel_form
          input.channel-name(type="text" required placeholder="Create or Join a channel")
          input(type="submit" value="Submit")


      #welcome-channel 
        h2.chat-name
        ul
        form.enter-message_form
          input.message-text(type="text" required placeholder="Write a message")
          input(type="submit" value="Send")
          

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")